.UserInputForm-inputContainer {
  border: 2px solid #383c69;
  border-radius: 3px;
  height: 37px;
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.UserInputForm-input {
  background-color: inherit;
  color: #dadada;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 40px;
  box-sizing: border-box;
  border: none;
  font-size: 12px;
}

.UserInputForm-input:focus {
  outline: none;
}

.UserInputForm-searchIcon {
  position: absolute;
  left: 10px;
  top: 7px;
}

.UserInputForm-select {
  position: absolute;
  right: 10px;
  top: 9px;
  background-color: inherit;
  border: none;
  font-size: 11px;
}

.UserInputForm-select:focus {
  outline: none;
}

.UserInputForm-option {
  color: #abb4d0;
  background-color: #394366;
  border: 0px;
  outline: 0px;
}
