.App {
  text-align: center;
  background-color: #2D3555;
  width: 100%;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

.App-introContainer {
  margin-bottom: 70px;
  margin-top: 30vh;
}

.App-title {
  font-size: 1.8em;
  color: #dadada;
  margin-bottom: 5px;
  margin-top: 13px;
}

.App-subTitle {
  font-size: 0.9em;
  color: #abb4d0;
  font-weight: 300;
  margin-bottom: 25px;
}

.App-intro {
  font-size: large;
}
